<html>
    <head>
        <title>Jigyasa's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
  
        <div>
         <p>Published on: 3.06.2015, 11:22 PM</p>
         <h2><a href="">My first post</a></h2>
         <p>Hey! This is Jigyasa and I am going to write my first blog</p>
        </div>

        <div>
         <p>Published on: 3.06.2015, 11:25 PM</p>
         <h2><a href="">My second post</a></h2>
         <p>Hey! This is Jigyasa and I am going to write my first blog</p>
        </div>

    </body>
</html>

